## Lenguaje de Consulta de Datos (DQL)

- Este subconjunto del lenguaje SQL se utiliza solo para consultar y recuperar información de la base de datos.

### Funciones de agregación:

Todas estas funciones se utilizan en el SELECT

- `AVG()` — promedio
- `SUM()` — suma total
- `MIN()` — valor mínimo
- `MAX()` — valor máximo
- `COUNT()` — contar registros

**Sintaxis básica:**

```sql
SELECT columnas_o_funciones_agregadas
FROM nombre_tabla
[WHERE condición]
[GROUP BY columna]
[HAVING condición_agregada]
[ORDER BY columna_o_función];

Conceptos básicos de cláusulas:

- `GROUP BY`: Cláusula de agrupamiento (para aplicar funciones de agregación por grupos).
- `HAVING`: Cláusula de filtrado de grupos a una condición agregada por ejemplo SUM() > 3.
- `ORDER BY`: Cláusula de ordenamiento de resultados para una columna o función.

### Operadores lógicos

| Operador       | Ejemplo                                                                               | Explicación                                                         |
| -------------- | ------------------------------------------------------------------------------------- | ------------------------------------------------------------------- |
| **AND**        | `WHERE age > 14 AND gender = 'F'`                                                     | Ambas condiciones deben ser verdaderas                              |
| **OR**         | `WHERE section = 'A' OR section = 'B'`                                                | Basta con que una condición sea verdadera                           |
| **NOT**        | `WHERE NOT (section = 'C')`                                                           | Invierte la condición → selecciona los que **no** cumplen           |
| **BETWEEN**    | `WHERE age BETWEEN 14 AND 16`                                                         | Está dentro del rango (incluye límites)                             |
| **IN**         | `WHERE section IN ('A','C')`                                                          | Está en un conjunto de valores                                      |
| **LIKE**       | `WHERE fname LIKE 'A%'`                                                               | Coincide con un patrón (empieza con “A”)                            |
| **EXISTS**     | `sql WHERE EXISTS (SELECT * FROM Students WHERE section = 'B')`                       | Verdadero si la subconsulta devuelve al menos 1 fila                |
| **ALL**        | `SELECT * FROM Students WHERE age > ALL (SELECT age FROM Students WHERE section='A')` | Verdadero si es mayor que *todos* los resultados de esa subconsulta |
| **ANY / SOME** | `SELECT * FROM Students WHERE age > ANY (SELECT age FROM Students WHERE section='B')` | Verdadero si es mayor que *al menos uno* de los resultados          |

## Ejercicios

### SELECT

El comando `SELECT` permite recuperar datos de una o varias tablas de una base de datos.

**Sintaxis básica:**

```sql
SELECT column_name
FROM table_name;